---
import "../styles/base.css";
import { ViewTransitions } from "astro:transitions";
import Navi from "../components/Navi.astro";

let title = "";
let headline = "";
let markdownStyleClasses = "cc";

if ("title" in Astro.props) {
	//for normal astro pages
	title = Astro.props.title;
} else {
	//for markdown pages
	title = Astro.props.frontmatter.title;
	headline = Astro.props.frontmatter.headline;
	markdownStyleClasses = "prose prose-lg prose-zinc";
}
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="robots" content="index,follow" />
		<meta
			name="description"
			content="Jan Friebe Software developer from Germany NRW"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body
		style="background-color:rgb(17,17,17); height: 100svh"
		class="text-zinc-100 flex flex-col square-bg"
	>
		<Navi showLogo={Astro.props.showLogo} />
		<main class:list={["flex-grow w-full", markdownStyleClasses]}>
			{
				headline && (
					<h1 class="font-bold text-3xl md:text-5xl tracking-tight mb-5 text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 to-red-600">
						# {headline}
					</h1>
				)
			}
			<slot />
		</main>
	</body>
</html>
