---
import { Image } from "astro:assets";
import Logo from "../components/logo.svg";
const { showLogo } = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header class="sticky top-5 z-10 main-header backdrop-blur-md bg-header">
  <nav
    class="px-4 md:px-6 py-2 max-w-[700px] mx-auto flex justify-between items-center"
  >
    <a href="/">
      <Image
        class:list={[
          "rounded-full object-cover h-10 w-10",
          { invisible: showLogo },
        ]}
        src={Logo}
        alt="Logo Jan Friebe"
      />
    </a>
    <ul class="flex items-center gap-6">
      <li class="list-none">
        <a
          class:list={[
            "px-4 py-2 text-zinc-300 rounded-full hover:transition-colors hover:text-white",
            { "bg-orange-500 !text-white": currentPath === "" },
          ]}
          href="/">Home</a
        >
      </li>
      <li class="list-none">
        <a
          class:list={[
            "px-4 py-2 text-zinc-300 rounded-full hover:transition-colors hover:text-white",
            { "bg-orange-500 !text-white": currentPath === "about" },
          ]}
          href="/about">About</a
        >
      </li>
      <li class="list-none">
        <a
          class:list={[
            "px-4 py-2 text-zinc-300 rounded-full hover:transition-colors hover:text-white",
            { "bg-orange-500 !text-white": currentPath === "guestbook" },
          ]}
          href="/guestbook">Guestbook</a
        >
      </li>
    </ul>
  </nav>
</header>
